@page
@model VoteTableModel
@{
    ViewData["Title"] = "Users Board";
}
<h1>@ViewData["Title"]</h1>

@if (Model.Users == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>User</th>
                <th>Votes Received</th>
                <th>Vote</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Email</td>
                    <td>@user.Id</td>
                    <td>
                        <input type="checkbox"
                               disabled="@(!user.IsCandidate)"
                               checked="" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}